:root {
    --background-dark-purple: #0E0C19;
    --font-heading-h1-scale: 0.9;
    --font-heading-h5-scale: 0.7;
}

@media (min-width: 1360px) {
    .container-xxl, .shopify-policy__container-xxl, .container-xl, .shopify-policy__container-xl, .container-lg, .shopify-policy__container-lg, .container-md, .shopify-policy__container-md, .container-sm, .shopify-policy__container-sm, .container, .shopify-policy__container {
        max-width: 1450px;
    }
}

@media screen and (min-width: 1200px) {
    .header-wrapper.container .header {
        margin: 3.2rem 0;
border-radius: 4.2rem;
    }
}

.header__column {
    margin-left: unset;
}

.header__icons {
display: none;
}

.button {
border-radius: 4.2rem;
}

@media screen and (min-width: 1760px) {
    .aic--right .aic__info {
margin-left: unset !important;
    }
}

@media screen and (min-width: 1360px) {
    .aic--right .aic__info {
        padding-left: unset;
    }
}

.image-with-text__column {
    flex-direction: row !important;
    column-gap: 10px;
}

@media screen and (min-width: 1200px) {
    .image-with-text__column-icon--recommended .icon {
        font-size: 2.9rem !important;
    }
}

.image-with-text__column-title {
font-weight: 400;
}

.multicolumn-card__image-wrapper--image img {
border-radius: 100%;
}

/* Announcements nebeneinander mit justify-content: space-between */
.announcement-bar {
    background-color: var(--background-dark-purple);
}

.announcement-bar__wrapper {
    max-width: 1450px;
    margin: 0 auto;
}

.announcement-bar:not(.swiper) .announcement-bar__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    gap: 0;
    padding-inline: 0;
}

.announcement-bar:not(.swiper) .announcement-bar__message {
    flex: 1;
    width: auto;
    min-width: 0;
}

/* Text auf einer Flucht mit dem Header - gleiche Padding-Werte */
.announcement-bar:not(.swiper) .announcement-bar__message-wrapper {
    padding-inline: 2rem;
    justify-content: flex-start;
}

/* Erstes Announcement: linksbündig (flex-start) */
.announcement-bar:not(.swiper) .announcement-bar__message:nth-child(1) .announcement-bar__message-wrapper {
    justify-content: flex-start;
}

/* Zweites Announcement: zentriert */
.announcement-bar:not(.swiper) .announcement-bar__message:nth-child(2) .announcement-bar__message-wrapper {
    justify-content: center;
}

/* Drittes Announcement: rechtsbündig */
.announcement-bar:not(.swiper) .announcement-bar__message:nth-child(3) .announcement-bar__message-wrapper {
    justify-content: flex-end;
}

.announcement-bar i {
    color: #FFFFFF;
}

@media screen and (min-width: 1200px) {
    .announcement-bar:not(.swiper) .announcement-bar__message-wrapper {
        padding-inline: 3.2rem;
    }
}

@media screen and (min-width: 1536px) {
    .announcement-bar:not(.swiper) .announcement-bar__message-wrapper {
        padding-inline: 6.4rem;
    }
}

@media screen and (max-width: 764px) {
    .announcement-bar:not(.swiper) {
        max-width: 100%;
    }
    
    .announcement-bar:not(.swiper) .announcement-bar__wrapper {
        flex-direction: column;
        gap: 0;
        padding-inline: 0;
    }
    
    .announcement-bar:not(.swiper) .announcement-bar__message {
        width: 100%;
    }
    
    .announcement-bar:not(.swiper) .announcement-bar__message-wrapper {
        padding-inline: 2rem;
        justify-content: center;
    }
}

/* Header Custom Button Styles */
.header__custom-button-wrapper {
    display: flex;
    align-items: center;
    margin-left: 1.6rem;
  }
  
  .header__icons {
    display: flex;
    align-items: center;
  }
  
  /* Button rechts platzieren */
  .header__column {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  
  /* Responsive: Auf mobilen Geräten */
  @media screen and (max-width: 1099px) {
    .header__custom-button-wrapper {
      display: none;
    }
  }

  @media screen and (min-width: 1536px) {
    .aic--right .aic__wrapper {
        min-height: unset !important;
    }
}

@media screen and (min-width: 1100px) {
    .aic--right .aic__wrapper {
        min-height: unset !important;
    }
}

@media screen and (min-width: 1360px) {
    .aic--right .aic__info {
        padding-block: unset;
    }
}

/* Icon with Text Blocks */
.aic__icon-text-blocks {
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
  }
  
  .aic__icon-text-item {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
  }
  
  .aic__icon-text-header {
    display: flex;
    align-items: center;
    gap: 1.2rem;
  }
  
  .aic__icon-text-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: none;
    font-size: 2.4rem;
  }

  @media screen and (min-width: 750px) {
    .aic__icon-text-icon {
      font-size: 2.8rem;
    }
  }
  
  @media screen and (min-width: 1200px) {
    .aic__icon-text-icon {
      font-size: 3.2rem;
    }
  }
  
  .aic__icon-text-icon .icon {
    width: 2.4rem;
    height: 2.4rem;
  }
  
  @media screen and (min-width: 750px) {
    .aic__icon-text-icon .icon {
      width: 2.8rem;
      height: 2.8rem;
    }
  }
  
  @media screen and (min-width: 1200px) {
    .aic__icon-text-icon .icon {
      width: 3.2rem;
      height: 3.2rem;
    }
  }
  
  .aic__icon-text-heading {
    margin: 0;
    line-height: 1.4;
    font-weight: unset;
  }
  
  .aic__icon-text-text {
    margin: 0;
  }

  /* Image Gallery with Links */
.aic__image-gallery {
    display: flex;
    align-items: center;
    gap: 0;
    flex-wrap: wrap;
  }

  .aic__image-gallery-image-wrapper {
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .aic__image-gallery-image-wrapper:not(:last-child) {
    margin-right: -1.5rem;
    z-index: 1;
  }
  
  .aic__image-gallery-image-wrapper:last-child {
    z-index: 0;
  }
  
  .aic__image-gallery-image-link {
    display: block;
    text-decoration: none;
    position: relative;
  }
  
  .aic__image-gallery-image {
    flex: none;
    width: 5rem;
    height: 5rem;
    border-radius: 4.2rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px #FFFFFF solid;
  }
  
  .aic__image-gallery-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .aic__image-gallery-text {
    font-size: 1.4rem;
    line-height: 1.4;
    color: rgba(var(--color-foreground), 0.7);
    text-decoration: none;
    margin-left: 1.2rem;
    white-space: nowrap;
  }
  
  @media screen and (min-width: 750px) {
    .aic__image-gallery-text {
        font-size: calc(var(--font-heading-h5-scale) * 2.4rem);
        font-weight: var(--font-heading-weight);
      margin-left: 3.6rem;
    }
  
    .aic__image-gallery-image-wrapper:not(:last-child) {
      margin-right: -2rem;
    }
  }
  
  @media screen and (max-width: 749px) {
    .aic__image-gallery {
      flex-direction: column;
      align-items: flex-start;
      gap: 1.6rem;
    }
  
    .aic__image-gallery-image-wrapper:not(:last-child) {
      margin-right: 0;
      margin-bottom: 0;
    }
  
    .aic__image-gallery-image-wrapper {
      width: 100%;
    }
  }

  /* Heading Image */
.aic__heading-image {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #F7F7F7;
    border-radius: 90px;
    padding: 5px 10px;
  }
  
  .aic__heading-image img {
    width: 150px;
    max-width: 100%;
    height: auto;
    display: block;
  }

  /* Fade-Effekt für vertikale Marquees (oben und unten) */
.aic__marquee.marquee-down,
.aic__marquee.marquee-up {
  position: relative;
}

.aic__marquee.marquee-down::before,
.aic__marquee.marquee-down::after,
.aic__marquee.marquee-up::before,
.aic__marquee.marquee-up::after {
  content: "";
  width: 100%;
  height: 17%;
  position: absolute;
  left: 0;
  z-index: 3;
  pointer-events: none;
}

.aic__marquee.marquee-down::before,
.aic__marquee.marquee-up::before {
  background: linear-gradient(180deg, rgb(var(--color-background)) 15%, rgba(0, 0, 0, 0) 100%);
  top: -0.2rem;
}

.aic__marquee.marquee-down::after,
.aic__marquee.marquee-up::after {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgb(var(--color-background)) 100%);
  bottom: -0.2rem;
}

.hero__outer--subtle {
    overflow: hidden;
}

.hero .hero__outer--horizontal .hero__image-inner,
.hero__outer--horizontal .hero__image-inner {
    border-radius: 0;
}

.hero__content--bottom {
    justify-content: center;
}

@media (min-width: 1200px) {
    .hero .hero__outer--horizontal .hero__image,
    .hero__outer--horizontal .hero__image {
        width: 57%;
    }
}

.card .card__information-top,
.card__inner .card__information-top,
.collection-product-card .card__information-top,
.card-wrapper .card__information-top {
  justify-content: flex-start;
}

.card__badge {
    justify-content: flex-end;
}

/* Custom Badge: Dunkle lila Hintergrundfarbe, weiße Icon- und Textfarbe */
.badge.badge--custom,
.badge--custom.badge,
.card__badge .badge--custom,
.badge--custom.color-background-1,
.badge--custom.color-background-2,
.badge--custom.color-background-3 {
  background-color: var(--background-dark-purple);
  color: #FFFFFF;
  border-color: var(--background-dark-purple);
}

.badge.badge--custom .icon,
.badge.badge--custom .icon-pack,
.badge.badge--custom i,
.badge--custom .icon,
.badge--custom .icon-pack,
.badge--custom i,
.card__badge .badge--custom .icon,
.card__badge .badge--custom .icon-pack,
.card__badge .badge--custom i {
  color: #FFFFFF;
}

.badge.badge--custom .icon--colored .icon,
.badge.badge--custom .icon--colored.icon--gradient,
.badge--custom .icon--colored .icon,
.badge--custom .icon--colored.icon--gradient,
.badge--custom .icon--subtle .icon,
.badge.badge--custom .icon--subtle .icon {
  color: #FFFFFF;
}

.card__short-description {
    margin-top: 0.8rem;
    color: rgba(var(--color-foreground), 0.7);
    line-height: 1.5;
  }

  /* Button mittig unterhalb der Produkte */
.products-grid__button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 4rem;
  }
  
  @media screen and (min-width: 750px) {
    .products-grid__button-wrapper {
      margin-top: 5.6rem;
    }
  }