.popular-products {
  width: 100%;
  overflow: hidden;
}
.popular-products .section-grid {
  width: 100%;
}
.popular-products__wrapper {
  display: grid;
  gap: 2.4rem;
  grid-column: span 2;
}
@media screen and (min-width: 576px) {
  .popular-products__wrapper {
    gap: 4rem 2.4rem;
  }
  .popular-products__wrapper--2, .popular-products__wrapper--3, .popular-products__wrapper--4, .popular-products__wrapper--5, .popular-products__wrapper--6 {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 750px) {
  .popular-products__wrapper {
    gap: 4rem 2.4rem;
  }
  .popular-products__wrapper--4, .popular-products__wrapper--5, .popular-products__wrapper--6 {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 990px) {
  .popular-products__wrapper--3 {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 1200px) {
  .popular-products__wrapper--4, .popular-products__wrapper--5 {
    grid-template-columns: repeat(4, 1fr);
  }
  .popular-products__wrapper--6 {
    grid-template-columns: repeat(5, 1fr);
  }
}
@media screen and (min-width: 1360px) {
  .popular-products__wrapper--5 {
    grid-template-columns: repeat(5, 1fr);
  }
  .popular-products__wrapper--6 {
    grid-template-columns: repeat(6, 1fr);
  }
}
@media screen and (max-width: 575px) {
  .popular-products--2-mobile:not(.popular-products__wrapper--1) {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 575px) {
  .popular-products--2-mobile .collection-product-card .card-information__group {
    flex-direction: column;
  }
  .popular-products--2-mobile .collection-product-card .card__more {
    display: none;
  }
  .popular-products--2-mobile .collection-product-card .card__title {
    font-size: calc(var(--font-heading-card-scale) * 0.9rem);
  }
  .popular-products--2-mobile .collection-product-card .badge .icon {
    width: 1.2rem;
    height: 1.2rem;
  }
  .popular-products--2-mobile .collection-product-card .button--link {
    right: 0.8rem;
    bottom: 0.8rem;
    width: 4.4rem;
    height: 4.4rem;
    min-height: auto;
    padding: 0;
  }
  .popular-products--2-mobile .collection-product-card .button--link .icon {
    width: 2rem;
    height: 2rem;
  }
  .popular-products--2-mobile .collection-product-card .card__description {
    font-size: 1.2rem;
    margin-top: 1.2rem;
  }
  .popular-products--2-mobile .collection-product-card .card__badge {
    position: absolute;
    top: 0.8rem;
    left: 0.8rem;
    right: 0.8rem;
    max-width: 100%;
  }
  .popular-products--2-mobile .collection-product-card .badge {
    font-size: 1.1rem;
    padding: 0.3rem 0.7rem;
  }
  .popular-products--2-mobile .collection-product-card .card-information {
    padding: 1rem 0 0 0;
  }
  .popular-products--2-mobile .collection-product-card .price {
    font-size: 1.2rem;
  }
  .popular-products--2-mobile .collection-product-card .price--on-sale .price__sale {
    flex-direction: row;
    align-items: flex-start;
    column-gap: 0.4rem;
  }
  .popular-products--2-mobile .collection-product-card .price--on-sale .price__sale dt {
    order: 1;
  }
}

.popular-products-slider {
  width: 100%;
  grid-column: span 2;
}
@media screen and (max-width: 575px) {
  .popular-products-slider .popular-products__wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0;
  }
  .popular-products-slider .popular-products__item,
  .popular-products-slider .popular-products__item_placeholder {
    width: 90.91%;
    grid-column: 1/-1;
    grid-row: 1/-1;
    flex-shrink: 0;
  }
  .popular-products-slider .popular-products__item:not(:first-child),
  .popular-products-slider .popular-products__item_placeholder:not(:first-child) {
    opacity: 0;
  }
  .popular-products-slider .popular-products__item .card-wrapper,
  .popular-products-slider .popular-products__item_placeholder .card-wrapper {
    width: 100%;
  }
}
.popular-products-slider.swiper {
  overflow: visible;
}
.popular-products-slider.swiper .swiper-wrapper.popular-products__wrapper {
  width: 100%;
  display: flex;
}
.popular-products-slider.swiper .swiper-slide.popular-products__item,
.popular-products-slider.swiper .swiper-slide.popular-products__item_placeholder {
  width: 100%;
  flex-shrink: 0;
}
.popular-products-slider.swiper .swiper-slide.popular-products__item:not(:first-child),
.popular-products-slider.swiper .swiper-slide.popular-products__item_placeholder:not(:first-child) {
  opacity: 1;
}
.popular-products-slider.swiper .swiper-slide.popular-products__item:only-child,
.popular-products-slider.swiper .swiper-slide.popular-products__item_placeholder:only-child {
  width: 100%;
}